body { 
    
}

div {
    background-color: #a7cece;
    font-family:Georgia, "Times New Roman", serif ;
font-style:italic;
    color:#444444 ;
border:1px dashed white ;
margin-top:  20px; ;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
padding-left:20px ;
padding-top:20px ;
padding-bottom:20px ;
padding-right: 20px;

background-image: url(bilder/hintergrund.gif);
background-repeat:  no-repeat ; 
background-repeat:top ,left ;



}
#Elixiere {float: right;

}
